<p></p>
<p></p>
<p></p>
<p></p>
<h1>Welcome to MYLAND!</h1>

<h3>Book your own island for a month at a time.</h3><td><%= link_to 'Book an island', islands_url %></td> | <td><%= link_to 'Leave a review', reviews_url %></td> | <td><%= link_to 'See all islands', islands_url %></td>
<p></p>




<p>
  <%= image_tag ("rovarns_holme.jpg") %>
</p>
